$color-cell-border: #777;
$color-clue-border: #ddd;
$color-highlight: #2196f3;

$color-primary: #ffa726;
$color-secondary: #66bb6a;
$color-default: #b0bec5;

$color-red: #ef5350;
$color-violet: #ab47bc;
$color-blue: #42a5f5;
$color-green: #66bb6a;
$color-yellow: #ffeb3b;
$color-orange: #ffa726;

$cell-border-width: 1px;

$title-text-shadow: 1px 0px 1px #ccc, 0px 1px 1px #eee, 2px 1px 1px #ccc,
  1px 2px 1px #eee, 3px 2px 1px #ccc, 2px 3px 1px #eee, 4px 3px 1px #ccc,
  3px 4px 1px #eee, 5px 4px 1px #ccc, 4px 5px 1px #eee, 6px 5px 1px #ccc,
  5px 6px 1px #eee, 7px 6px 1px #ccc;
