$color-cell-border: #777;
$color-clue-border: #ddd;
$color-highlight: #2196f3;

$color-primary: #039be5;
$color-secondary: #ffa726;
$color-default: #b0bec5;

$color-red: #ef5350;
$color-violet: #ab47bc;
$color-blue: #42a5f5;
$color-green: #66bb6a;
$color-yellow: #ffeb3b;
$color-orange: #ffa726;

$cell-border-width: 0.03125rem;
