@import "./style/animations";
@import "./style/vars";

.BackButton {
  position: fixed;
  left: 0;
  top: 0;

  button {
    padding: 6px;
    border: none;
    border-radius: 5vmin;
    background-color: transparent;
    cursor: pointer;
    animation: scale-up-center 0.4s ease-out both;
    outline: none;
    margin: 1vmin 0 0 1vmin;

    &:hover {
      background-color: $color-highlight;
      border-color: $color-highlight;

      img {
        filter: invert(100%);
      }
    }

    &:active,
    &:focus {
      box-shadow: 0 0 0 2px $color-highlight;
    }

    img {
      display: block;
      margin: auto;
      width: 2.5vmin;
      height: 2.5vmin;
    }
  }
}
