@import "./style/vars";

$icon-button-shadow: inset 0 1px rgba(255, 255, 255, 0.3),
  inset 0 10px rgba(255, 255, 255, 0.2),
  inset 0 10px 20px rgba(255, 255, 255, 0.25),
  inset 0 -15px 30px rgba(0, 0, 0, 0.3);

.IconButton {
  margin: 0;
  padding: 0.35rem;
  height: 2rem;
  width: 4rem;
  border-radius: 2rem 0.5rem 2rem 0.5rem;
  cursor: pointer;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: $icon-button-shadow;

  &:focus,
  &:active {
    box-shadow: $icon-button-shadow, 0 0 0 2px $color-highlight;
  }

  & > svg {
    width: 100%;
    max-height: 100%;
    object-fit: contain;

    path {
      fill: #444;
    }
  }

  & > img {
    width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
    margin: auto;
  }

  &--Animate {
    animation: jello-horizontal 0.25s both;
  }

  &--Primary {
    background-color: $color-primary;

    &:hover {
      background-color: darken($color-primary, 10%);
    }
  }

  &--Default {
    background-color: $color-default;

    &:hover {
      background-color: darken($color-default, 10%);
    }
  }

  &--SizeSmall {
    padding: 0.2rem;
    height: 1.5rem;
    max-width: 3rem;
  }
}
