@import "src/style/vars";

.Cell {
  cursor: pointer;
  box-shadow: 0 0 0 $cell-border-width $color-cell-border;

  &--MarkedEmpty {
    background-image: url('../assets/cross.svg');
  }

  &:hover {
    filter: brightness(80%);
  }
}
