@import "../style/vars";

.Cell {
  width: 100%;
  height: 100%;
  transition: all 0.2s ease;
  user-select: none;
  position: relative;

  &--MarkedEmpty {
    background-image: url("../assets/cross.svg");
  }

  &--Selected {
    background-color: $color-highlight !important;
  }

  &.Cell--Interactive {
    cursor: pointer;
    &:hover {
      //filter: brightness(150%);
      box-shadow: inset 0 0 10px 0 $color-highlight;
      //filter: inset(5px 5px 10px #44444d81);
    }

    &--FilledBlock {
      &:hover {
        filter: brightness(150%);
      }
    }
  }

  &--SelectionTip {
    position: absolute;
    border: 1px solid $color-cell-border;
    display: block;
    background-color: #fff;
    padding: 0.15rem 0.25rem;
    text-align: center;
    font-size: 0.75rem;
    border-radius: 1rem;
    color: #222;
    z-index: 1010;
    top: 110%;
    left: 110%;
  }
}
