@import "src/style/vars";

.CluesHRegion {
  display: grid;
  justify-items: center;
  align-content: center;
  column-gap: $cell-border-width;
  row-gap: $cell-border-width;
  background-color: $color-clue-border;
  border: $cell-border-width solid $color-clue-border;
}
