@import "src/style/vars";

.PaletteCell {
  cursor: pointer;

  &--Fill {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 0 $cell-border-width $color-cell-border;
    box-sizing: border-box;
    padding: 4px;

    svg {
      width: 100%;
      object-fit: contain;
    }

    &--Color {
      svg path {
        fill: #fff;
      }

      &:hover {
        filter: brightness(80%);
      }
    }

    &--Empty,
    &--MarkedEmtpy {
      svg path {
        fill: #222;
      }

      &:hover {
        background-color: $color-highlight;

        svg path {
          fill: #fff;
        }
      }
    }

    &--MarkedEmpty {
      background-image: url("../assets/cross.svg");
    }
  }
}
