@import "src/style/vars";

.Palette {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &--Fill {
    width: 100%;
    height: 100%;
    border: $cell-border-width solid $color-cell-border;
  }
}
