@import "../style/vars";

.AnimatedTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-primary;

  & > div {
    will-change: transform;
    animation: bounce-top 0.9s both;
    font-family: "Bungee Inline", sans-serif;
    font-weight: bold;
    font-size: 10vmin;
    text-shadow: $title-text-shadow;
  }
}
