.Difficulty {
  display: inline-flex;
  height: 1rem;

  &--Cell {
    height: 100%;
    width: 1rem;

    svg {
      width: 100%;
      height: auto;
      max-height: 100%;
      object-fit: contain;
    }
  }
}
