.Home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &--Current {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .Home--Achievements {
    margin-bottom: 1rem;
  }

  &--Completed {
    margin-bottom: 1rem;
  }
}
