@import "../style/vars";

.HomeBoard {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;

  &--Grid {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    &--Selected {
      //animation: scale-out-center 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) both;
    }
  }

  &--Properties {
    flex: 2;
    padding-left: 1rem;

    dl {
      display: flex;
      flex-wrap: wrap;
      width: 10rem;

      dt {
        width: 5rem;
        font-size: 0.625rem;
        line-height: 1rem;
        text-transform: uppercase;
        font-weight: bold;
        text-align: right;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        &.MedalsLabel {
          justify-content: flex-start;
        }
      }

      dd {
        padding-left: 0.25rem;
      }
    }
  }

  &--Button {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }
}
