.PackProgress {
  &--Medals {
    display: flex;
  }

  &--Medal {
    img {
      width: 3vmin;
      display: block;
      margin: auto;
    }
  }
  &--Count {
    font-size: 2vmin;
    font-weight: bold;
  }
}
