.PackPage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &--Progress {
    margin-bottom: 1rem;
    animation: slide-in-top 0.5s ease-out 1s both;
    will-change: transform;
  }

  &--Boards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100vmin;

    & > div {
      animation: slide-in-left 0.5s ease-out both;
      will-change: transform;
    }
  }

  &--Next {
    margin-top: 1rem;
    transform: translateX(-10000px);

    & > .Button {
      animation: slide-in-left 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s
        both;
    }

    &--Won {
      transform: translateX(0);
    }
  }
}
